@model Tuple<ProfessionalServices.LeaveBot.Models.Employee, List<ProfessionalServices.LeaveBot.Models.LeaveExtended>, List<ProfessionalServices.LeaveBot.Models.ManagerDetails>>
@*@model ProfessionalServices.LeaveBot.Models.Employee*@
@using ProfessionalServices.LeaveBot.Helpers;
@using ProfessionalServices.LeaveBot;
@{var myId = 0;}
@{var showlength = 5;}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <script src='https://code.jquery.com/jquery-1.11.3.min.js'></script>
    <script src='~/Scripts/LeaveAdaptiveCard.js'></script>
    <script type="text/javascript">
        //alert(url);
        var url = window.location.search;
        url = url.replace("?", ''); // remove the ?
        //alert(url); //
        if (!url) {
            microsoftTeams.initialize();
            microsoftTeams.getContext(function (context) {
                context.userPrincipalName;
                window.location = "@ProfessionalServices.LeaveBot.Helper.ApplicationSettings.BaseUrl" + "/?Emailid=" + context.userPrincipalName;

            })
        }

       microsoftTeams.initialize();

       submitHandler = (err, result) => {
            // alert("Result = " + JSON.stringify(result) + "\nError = " + JSON.stringify(err));
           // Not doing anything here.
        };

        function submit(type) {
            let taskInfo = {
                title: null,
                height: null,
                width: null,
                url: null,
                card: null,
                fallbackUrl: null,
                completionBotId: null,
            };
            taskInfo.title = "Apply For Leave";
            taskInfo.height = 500;
            taskInfo.width = 600;
            taskInfo.card = taskInfo.card = {
                contentType: "application/vnd.microsoft.card.adaptive",
                content: getAdaptiveCard()};

            taskInfo.completionBotId = "@ProfessionalServices.LeaveBot.Helper.ApplicationSettings.AppId";
            microsoftTeams.tasks.startTask(taskInfo, submitHandler);
        }


        function myFunction(count) {
            for (var id = @showlength; id < count; id++) {
                var x = document.getElementById(id);
                if (x.style.display === "none") {
                    x.style.display = "table-row";
                    //document.getElementById('load') = LoadLess;
                } else {
                    x.style.display = "none";
                    //document.getElementById('load') = LoadLess;
                }
            }
            document.getElementById('load').style.display = "none";
        }

    </script>
    @if (Model != null)
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-5 col-md-5 col-lg-3 gap">
                    <div>
                        <div class="profile_pic">
                            <img src="~/Resources/leaveicon.png" alt="..." class="thumbnail" />
                            @*<img src=@Model.Item1.PhotoPath  alt="..." class="thumbnail" >*@
                            <div class="profile_info">
                                <h2>@Model.Item1.DisplayName</h2>
                                <span id="ux">@(@Model.Item1.JobTitle ?? @Model.Item1.EmailId)</span>
                            </div>
                            <div class="left">
                                <span id="days">@Model.Item1.Totalleaves</span> days OFF in
                                <span id="month">@DateTime.Now.ToString("MM")</span> months
                            </div>
                        </div>
                        <div class="apply_leave">
                            <input class="favorite styled" type="button" value="Apply Leave" onclick="submit('adaptivecard')" />
                        </div>
                    </div>
                    <div id="heading">
                        <h5>Notifications</h5>
                    </div>

                    <div class="card card-accent-success mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                            <img src="@Model.Item1.PhotoPath" alt="img" class="approved_by" />
                            <span class="manager">@Model.Item1.ManagerName has approved your leave </span>
                            <span id="msg1">Enjoy</span>
                        </div>
                        <div class="footer">
                            <img src="~/Resources/msg.PNG" />
                            <a style="color:#6264A7" href="https://teams.microsoft.com/_#/conversations/8:orgid:@Model.Item1.AzureADId?ctx=chat" target="_blank">Chat with @Model.Item1.ManagerName</a>
                        </div>
                    </div>
                    <div class="card card-accent mb-3 card1" style="max-width: 18rem;">
                        <div class="card-body">
                            <img src="download.jpg" alt="img" class="approved_by" />
                            <span class="manager">Leave Bot </span>
                            <span id="msg">Tip</span>
                            <div class='content1'>
                                <div class="box"></div>
                                You can utilise the carried over leaves from last year for your recently applied leave....
                            </div>
                            @*<div class="footer1">
                                    <span>Change leave type</span>
                                </div>*@
                        </div>
                    </div>
                    <div class="card card-accent mb-3 card2" style="max-width: 18rem;">
                        <div class="card-body">
                            <img src="download.jpg" alt="img" class="approved_by" />
                            <span class="manager1">Leave Bot</span>
                            @foreach (var item in ProfessionalServices.LeaveBot.Models.PublicHolidaysList.HolidayList)
                            {
                                if (item.Date > DateTime.Now)
                                {
                                    <div class='content'>
                                        <div class="box"></div>
                                        Upcoming holiday is @item.Title on @item.Date.Day.@item.Date.Month.@item.Date.Year
                                    </div>
                                    break;
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-9">
                    <div class="table-responsive top">
                        @if (Model.Item1.IsManager == true)
                        {

                            if (Model.Item3.Count > 0)
                            {
                                <div class='heading'>Pending Requests</div>
                                <table class="table">
                                    <tbody>
                                        @foreach (var item in Model.Item3)
                                        {
                                        }
                                    </tbody>
                                </table>
                            }
                        }
                        <div class='heading'>Balance Status</div>
                        <table class="table">
                            <tr class="head-tab">
                                <th>Type</th>
                                <th>Remaining</th>
                                <th>Used</th>
                                <th>Allowance</th>
                                <th></th>
                            </tr>
                            <tr class="bor">
                                <td class="header">Paid Leaves</td>
                                @if (Model.Item2 != null)
                                {
                                    int totalleaves = 0;
                                    string Lastused = null;

                                    foreach (var item in Model.Item2)
                                    {
                                        if (item.LeaveType == ProfessionalServices.LeaveBot.Models.LeaveType.PaidLeave && item.Status == ProfessionalServices.LeaveBot.Models.LeaveStatus.Approved)
                                        {
                                            totalleaves = item.DaysDiff;

                                        }
                                        if (item.EndDate != null)
                                        {
                                            Lastused = item.EndDate.Date.ToString("MMM");
                                        }

                                    }
                                    <td class='count cent'>@(Model.Item1.LeaveBalance.PaidLeave - totalleaves)</td>
                                    <td class='used-leave cent'>@totalleaves</td>
                                    <td class='allow cent'>@Model.Item1.LeaveBalance.PaidLeave</td>
                                    if (Lastused != null)
                                    {
                                        <td class="msg">Last used in @Lastused</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                }
                            </tr>
                            <tr>
                                <td class="header">Sick Leaves</td>
                                @if (Model.Item2 != null)
                                {
                                    int totalleaves = 0;
                                    string Lastused = null;
                                    foreach (var item in Model.Item2)
                                    {
                                        if (item.LeaveType == ProfessionalServices.LeaveBot.Models.LeaveType.SickLeave && item.Status == ProfessionalServices.LeaveBot.Models.LeaveStatus.Approved)
                                        {
                                            totalleaves = item.DaysDiff;
                                        }
                                        if (item.EndDate != null)
                                        {
                                            Lastused = item.EndDate.Date.ToString("MMM");
                                        }

                                    }
                                    <td class='count cent'>@(Model.Item1.LeaveBalance.SickLeave - totalleaves)</td>
                                    <td class='used-leave cent'>@totalleaves</td>
                                    <td class='allow cent'>@Model.Item1.LeaveBalance.SickLeave</td>
                                    if (Lastused != null)
                                    {
                                        <td class="msg">Last used in @Lastused</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                }
                            </tr>
                            <tr>
                                <td class="header">
                                    Carried over from last year <br>
                                    <span class='year'>Recommended to utilise for vacations</span>
                                </td>
                                @if (Model.Item2 != null)
                                {
                                    int totalleaves = 0;
                                    string Lastused = null;
                                    foreach (var item in Model.Item2)
                                    {
                                        if (item.LeaveType == ProfessionalServices.LeaveBot.Models.LeaveType.CarriedLeave && item.Status == ProfessionalServices.LeaveBot.Models.LeaveStatus.Approved)
                                        {
                                            totalleaves = item.DaysDiff;
                                        }
                                        if (item.EndDate != null && item.LeaveType == ProfessionalServices.LeaveBot.Models.LeaveType.CarriedLeave && item.Status == ProfessionalServices.LeaveBot.Models.LeaveStatus.Approved)
                                        {

                                            Lastused = item.EndDate.Date.ToString("MMM");
                                        }

                                    }
                                    <td class='count cent'>@(Model.Item1.LeaveBalance.CarriedLeave - totalleaves)</td>
                                    <td class='used-leave cent'>@totalleaves</td>
                                    <td class='allow cent'>@Model.Item1.LeaveBalance.CarriedLeave</td>
                                    if (Lastused != null)
                                    {
                                        <td class="msg">Last Used in @Lastused</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                }
                            </tr>
                            <tr>
                                <td class='header1'>Maternity Leaves</td>
                                <td class='count1 cent'>@Model.Item1.LeaveBalance.MaternityLeave</td>
                                <td class='count1 cent'>0</td>
                                <td class='count1 cent'>0</td>
                                <td class='count1 cent'>-</td>
                            </tr>
                            <tr>
                                <td class='header1 cent'>Paternity Leaves</td>
                                <td class='count1 cent'>@Model.Item1.LeaveBalance.PaternityLeave</td>
                                <td class='count1 cent'>0</td>
                                <td class='count1 cent'>0</td>
                                <td class='count1 cent'>-</td>
                            </tr>
                            <tr>
                                <td class='header1'>Caregiver Leaves</td>
                                <td class='count1 cent'>@Model.Item1.LeaveBalance.Caregiver</td>
                                <td class='count1 cent'>0</td>
                                <td class='count1 cent'>0</td>
                                <td class='count1 cent'>-</td>
                            </tr>
                        </table>
                    </div>
                    <div class="table-responsive top1">
                        <div class='heading'>Leave reports</div>
                        <table class="table">
                            @if (Model.Item2 != null)
                            {
                                for (int index = 0; index < ((showlength > Model.Item2.Count) ? Model.Item2.Count : showlength); index++, myId++)
                                {
                                <tr class="head-tab" id="@myId">
                                <td class='leave_report_col1'>
                                    @Model.Item2[index].startDay, @Model.Item2[index].StartDateval-@Model.Item2[index].EndDay, @Model.Item2[index].EndDateVal, @Model.Item2[index].EndDate.Date.Year<br>
                                    <span class='leave-type'> @Model.Item2[index].LeaveType </span><i class="fas fa-circle icon"></i> <span class='reason-type'>
                                        @Model.Item2[index].EmployeeComment
                                    </span><i class="fas fa-chevron-right icon"></i>
                                </td>
                                <td class='leave_report_col2'>@Model.Item2[index].DaysDiff days OFF</td>
                                @if (Model.Item2[index].Status == ProfessionalServices.LeaveBot.Models.LeaveStatus.Approved)
                                {
                                    <td class='approval1'>Approved</td>
                                    <td></td>
                                    <td></td>
                                }
                                else if (Model.Item2[index].Status == ProfessionalServices.LeaveBot.Models.LeaveStatus.Pending)
                                {
                                    <td id='approval'>@Model.Item2[index].Status</td>
                                    <td> <a href="https://teams.microsoft.com/l/chat/0/0?users=28:@System.Web.Configuration.WebConfigurationManager.AppSettings["MicrosoftAppId"]" target="_blank"><img src="~/Resources/pencil.PNG" /></a></td>
                                    <td> <a href="https://teams.microsoft.com/l/chat/0/0?users=28:@System.Web.Configuration.WebConfigurationManager.AppSettings["MicrosoftAppId"]" target="_blank"><img src="~/Resources/delete.PNG" /></a></td>
                                }
                                else if (Model.Item2[index].Status == ProfessionalServices.LeaveBot.Models.LeaveStatus.Rejected)
                                {
                                    <td id='approval2'>Declined</td>
                                    <td></td>
                                    <td></td>
                                }
                                 </tr>
                                }
                                for (int index = showlength; index < Model.Item2.Count; index++, myId++)
                                {
                                <tr id="@myId">
                                    <td class='leave_report_col1'>
                                        @Model.Item2[index].startDay, @Model.Item2[index].StartDateval-@Model.Item2[index].EndDay, @Model.Item2[index].EndDateVal, @Model.Item2[index].EndDate.Date.Year<br>
                                        <span class='leave-type'>@Model.Item2[index].LeaveType</span><i class="fas fa-circle icon"></i> <span class='reason-type'>@Model.Item2[index].EmployeeComment</span>
                                    </td>
                                    <td class='leave_report_col2'> @Model.Item2[index].DaysDiff day OFF</td>
                                    @if (Model.Item2[index].Status == ProfessionalServices.LeaveBot.Models.LeaveStatus.Approved)
                                    {
                                        <td class='approval1'>Approved</td>
                                        <td></td>
                                        <td></td>
                                    }
                                    else if (Model.Item2[index].Status == ProfessionalServices.LeaveBot.Models.LeaveStatus.Pending)
                                    {
                                        <td id='approval'>@Model.Item2[index].Status</td>
                                        <td> <a href="https://teams.microsoft.com/l/chat/0/0?users=28:@System.Web.Configuration.WebConfigurationManager.AppSettings["MicrosoftAppId"]" target="_blank"><img src="~/Resources/pencil.PNG" /></a></td>
                                        <td> <a href="https://teams.microsoft.com/l/chat/0/0?users=28:@System.Web.Configuration.WebConfigurationManager.AppSettings["MicrosoftAppId"]" target="_blank"><img src="~/Resources/delete.PNG" /></a></td>
                                    }
                                    else if (Model.Item2[index].Status == ProfessionalServices.LeaveBot.Models.LeaveStatus.Rejected)
                                    {
                                        <td id='approval2'>Declined</td>
                                        <td></td>
                                        <td></td>
                                    }

                                </tr>
                                }
                            }
                               
                            </table>
                        @if(showlength<Model.Item2.Count)
                        {
                            <a href="#" id="load-more" onclick="myFunction(@Model.Item2.Count)">Load More</a>
                        }
                        </div>
                    </div>

                </div>
            </div>
                                    }
                                    else
                                    {
                            <p style="font-weight:700;font-size:14px;">User details not found. Please go to bot</p>
                            }



                        </body>

                    </html>